
// Body
$body-bg: #f7f8f9;
$body-color: #959499;

// Typography
$font-family-sans-serif: IRANSans,"Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #505a78;
$secondary: #fe5b57;

$c-3a5ea5: #3a5ea5;
$c-4bb769: #4bb769;
$c-f1763d: #f1763d;
$c-7f6699: #7f6699;
$c-838bc1: #838bc1;
$c-62798e: #62798e;
$c-e8525b: #e8525b;
$c-f690ae: #f690ae;
$c-009577: #009577;
$c-a24e7f: #a24e7f;
$c-24accc: #24accc;




